.article {
  &__header {
    display: table-row;
    width: $width-unit * 3;
  }
  &__title {
    box-sizing: border-box;
    display: table-cell;
    width: $width-unit * 2;
    padding-right: 10px;
    font-size: 40px;
  }
  &__link {
    color: #FF7F68;
  }
  &__date {
    box-sizing: border-box;
    display: table-cell;
    width: $width-unit;
    padding: 15px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
  }
  &__body {
    position: relative;
    margin-top: 20px;
  }
  &__img {
    box-sizing: border-box;
    float: right;
    width: $width-unit * 2;
    max-height: 70vh;
    padding-left: 1em;
  }
  &__text {
    position: absolute;
    bottom: 0;
    width: $width-unit;
    max-height: calc(6em * 1.4);
    line-height: 1.4;
    overflow: hidden;
    a {
      color: #FF7F68;
    }
  }
}
