.cover {
  display: none;
  position: absolute;
  top: 0;
  right: $width-unit;
  width: $width-unit;
  background-image: linear-gradient(to top left, #FF7F68, #EFD87C);
  height: 150px;
  transition: height $scroll-speed;
}
