.gnav {
  $width-hover: 25%;
  $duration: .7s;
  &:hover .gnav__item:not(:hover) {
    width: ((100% - $width-hover) / 5);
  }
  &__item {
    box-sizing: border-box;
    float: left;
    width: $width-unit;
    height: 100vh;
    padding: 30px 20px;
    transition: width $duration;
    &:hover {
      width: $width-hover;
      background-image: linear-gradient(#FF7F68, #EFD87C);
      .gnav__title {
        font-size: 20px;
        color: #fff;
      }
      .gnav__fadeIn {
        opacity: 1;
        padding-left: 0;
      }
    }
  }
  &__link {
    box-sizing: border-box;
    display: block;
    padding: 30px 20px;
    margin: -30px -20px;
    height: 100vh;
    &:hover {
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #888;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .4em;
    text-transform: uppercase;
    transition: all $duration;
  }
  &__fadeIn {
    opacity: 0;
    transition: all $duration;
    width: calc(100% - 60px);
    padding-left: 50px;
  }
  &__desc {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
  }
}
