.l {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: $width-unit;
    height: 100vh;
  }
  &-pageTitle {
    position: fixed;
    top: 50%;
    left: $width-unit * 1.5;
    transform: translateY(-50%);
  }
  &-fullpage {
    width: $width-unit * 3;
    margin-left: $width-unit * 2;
  }
  &-fullpageMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: $width-unit;
    height: 100vh;
  }
}
