extends layout

block title
  title Feed Pocket

block body
  - sites = {}
  - sites[1] = {title: 'dezeen'}
  - sites[2] = {title: 'designboom'}
  - sites[3] = {title: 'yatzer'}
  - sites[4] = {title: 'archdaily'}
  - sites[5] = {title: 'awwwards'}
  nav.gnav
    ul
      each site, i in sites
        li.gnav__item
          a.gnav__link(href="#{site.title}.html")
            span.gnav__title= site.title

