extends layout

block body
  body
    - navs = {}
    - navs[1] = {text: 'home', link: '/'}
    - navs[2] = {text: 'dezeen', link: '/dezeen.html'}
    - navs[3] = {text: 'designboom', link: '/designboom.html'}
    - navs[4] = {text: 'yatzer', link: '/yatzer.html'}
    - navs[5] = {text: 'archdaily', link: '/archdaily.html'}
    - navs[6] = {text: 'awwwards', link: '/awwwards.html'}
    header.header.l-header
      h1.header__logo FEED POCKET
      nav.nav.header__nav
        ul
          each nav, i in navs
            li.nav__item
              a.nav__link(href="#{nav.link}")= nav.text
    main
      #cover.cover
      #fullpage.l-fullpage
      h2.l-pageTitle.pageTitle
        block pageTitle
      ul#fullpageMenu.l-fullpageMenu.fullpageMenu
        .fullpageMenu__inner
          - for (var i = 1; i < 11; i++)
            li.fullpageMenu__item(data-menuanchor="#{i}")
              a.fullpageMenu__link(href="##{i}")
      span#scroll.scroll scroll

    include partials/githubCorner

    script(type="text/template" id="article-template")
      article.article.section(data-anchor!="<%= anchor %>")
        header.article__header.clearfix
          h2.article__title
            a.article__link(href!="<%= link %>" target="_blank") <%= title %>
          span.article__date <%= date %>
        .article__body.clearfix
          img.article__img(src!="<%= src %>" alt="" onerror="this.src='http://placehold.it/300x300?text=+'")
          p.article__text <%= text %>

    script(src='https://www.google.com/jsapi')

    script(src='scripts/app.js')
